*{padding:0;!important;Margin:0;!important;}
body{
    box-sizing: border-box;!important;
}
.post-subtitle{
    color: #1e1e1e;
    text-decoration: none;
    font-size: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3.5;
    -webkit-box-orient: vertical;
}